/* Estilos do App */
.default {
  display: flex;
  height: calc(100vh - var(--navbar-height));
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-5xl);
  color: var(--text-secondary);
  font-weight: var(--font-weight-light);
}